/*############ Global settings ####################*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/*############ Navbar #############################*/

.navbar, .hero, .page-footer {
    background-color: #1F2937;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.navbar .logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.navbar a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.navbar a:hover {
    color: lightblue;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

/*############ Hero ###############################*/

.hero .container {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 120px 30px 150px 30px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-btn {
    background-color: #3882F6;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 25px 5px;
    font-size: 18px;
    color: #F9FAF8;
}

.hero-btn:hover {
    background-color: #0F4AA8;
}

.hero-img {
    max-width: 600px;
}

/*############ Section Info #######################*/

.info .container {
    background-color: #F9FAF8;
}

.info .container h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.info .container .cards {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.card-image {
    max-width: 200px;
    border: 5px solid blue;
    border-radius: 15px;
    display: block;
    padding: 20px;
    margin: auto;
}

.card-text {
    width: 200px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    color: #6F7174;
}

/*############ Blockquote #########################*/
blockquote {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #E5E7EB;
}
  
blockquote p {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    text-align: center;
    display: block;
    margin: auto;
    width: 800px;
}

.quote-footer {
    padding-top: 20px;
    font-size: 20px;
    text-align: right;
    font-weight: bolder;
    display: block;
    margin: auto;
    width: 800px;
}
  
/*############ Section Call #######################*/

.call-to-action .container {
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 50px auto;
    padding: 30px 80px;
}

.title-call {
    color: #F9FAF8;
}

.text-call {
    color: #E5E7EB
}

.call-btn {
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
    margin-top: 20px;
    padding: 5px 25px 5px;
    font-size: 18px;
    color: #F9FAF8;
}

.call-btn:hover { 
    background-color: #0F4AA8;
}
/*############ Footer #############################*/

.page-footer .container {
    background-color: #1F2937;
    max-width: 1400px;
}

.page-footer .container p {
    color: #F9FAF8;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
